.body {
  background-color: #101418;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 20px 0;
  margin: 0 0 20px 5%;
  color: #ffffff;
  text-shadow: 3px 3px #4e9aff;
  font-size: 40px;
  font-weight: 600;
}

.firstText {
  color: #ffffff;
}

.secondText {
  color: #4e9aff;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .title {
    padding: 20px 0;
    margin: 0 0 10px 5%;
    color: #ffffff;
    text-shadow: 3px 3px #4e9aff;
    font-size: 30px;
    font-weight: 600;
  }

  .firstText {
    color: #ffffff;
  }

  .secondText {
    color: #4e9aff;
    opacity: 0.4;
  }
}
